h1, h2, h3 {
  text-align: center;
  color: black;
  margin-bottom: 0;
  font: sans-serif;
}

button {
  background-color: lightblue;
  float: left;
  margin-right: 5px;
}

p {font: 16px sans-serif;}

table
  {
  border-collapse:collapse;
  }

table,th, td
  {
  padding: 5px;
  border: 1px solid black;
  }

#prev {
  background-color: lightgray;
  color: white;
}

#svg-map {
  margin:10px 10px 0 10px;
  border:2px solid #000;
  border-radius: 5px;
  overflow:hidden;
  width: 98%;
}

#legend-menu {
  width: 98%;
}

select {
  float: right;
}

.list-inline {
  padding: 0 0 0 1.5em;
  display: table;
  width: 80em;
  float: right;
  margin-bottom: 0;
}

li {
  list-style: none;
  text-align: right;
  vertical-align: middle;
  display: inline-block;
  border-top-width: 15px;
  border-top-style: solid;
  font-size: .75em;
  width: 6%;
  padding-left: 0;
  padding-right: 0;
  font-size: 14px;
}

ul.navi {
  float: left;
  margin: 0;
  padding: 0;
}


#legend_name {
  width: 10em;
}

#maptip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  opacity: 0.90;
  min-width: 60px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.box-plot {
  float: left;
  width: 15%;
  margin: 30px;
}

.axis {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.x text {
  /*font-family: sans-serif;*/
  font-size: 14px;
}

#boxtip {
  position: absolute;
  z-index: 100;
  visibility: hidden;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  opacity: 0.90;
  min-width: 60px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}


.chart {
  float: left;
  width: 40%;
  margin-right: 100px;
}
